<!DOCTYPE html>
<html ng-app="player">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link href='http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="v2.css">
    <script src="angular.1.2.27.min.js"></script>
    <script src="angular-animate.1.2.27.min.js"></script>
    <script src="metadata-audio-parser.js"></script>
    <script src="v2.js"></script>
  </head>
  <body nx-ignore-drops>
    <div ng-controller="PlayerController as ctrl"
         nx-drop-file="ctrl.callbacks.openFile"
         class="v2-player">
      <div ng-show="ctrl.isMode('open-file')"
           class="v2-player-open-file v2-player-mode">
        <div class="v2-player-flex">
          <div class="v2-player-open-file-content">
            <label class="v2-player-open-file-button">
              <input nx-input-file-change="ctrl.callbacks.openFile"
                     type="file" accept="audio/*"
                     class="v2-player-open-file-input">
              <i class="fa fa-folder-open"></i>
              открыть файл...
            </label>
            <br>
            <label class="v2-player-open-file-comment">
               (или перетащите его сюда)
            </label>
          </div>
        </div>
      </div>
      <div ng-show="ctrl.isMode('loading')"
           class="v2-player-loading v2-player-mode">
        <div class="v2-player-flex">
          <div class="v2-player-loading-content">
            <i class="fa fa-spinner fa-spin"></i>
            грузим...
          </div>
        </div>
      </div>
      <div ng-show="ctrl.isMode('invalid')"
           class="v2-player-invalid v2-player-mode">
        <div class="v2-player-flex">
          <div class="v2-player-invalid-content">
            ваш файл не валиден.
            <div ng-click="ctrl.confirmInvalid()"
                 class="v2-player-invalid-button-ok">
              окей
            </div>
          </div>
        </div>
      </div>
      <div ng-show="ctrl.isMode('normal')"
           class="v2-player-normal v2-player-mode">
        <div class="v2-player-normal-sidebar">
          <div class="v2-player-normal-buttons">
            <div ng-show="!ctrl.playing()"
                 ng-click="ctrl.play()"
                 class="v2-player-normal-button
                        v2-player-normal-button-play">
              <i class="fa fa-play"></i>
            </div>
            <div ng-show="ctrl.playing()"
                 ng-click="ctrl.pause()"
                 class="v2-player-normal-button
                        v2-player-normal-button-pause">
              <i class="fa fa-pause"></i>
            </div>
            <div ng-click="ctrl.stop()"
                 class="v2-player-normal-button
                        v2-player-normal-button-stop">
              <i class="fa fa-stop"></i>
            </div>
            <div ng-click="ctrl.eject()"
                 class="v2-player-normal-button
                        v2-player-normal-button-eject">
              <i class="fa fa-eject"></i>
            </div>
          </div>
        </div>
        <div class="v2-player-normal-content">
          <div class="v2-player-normal-header">
            <div class="v2-player-normal-artwork"
ng-style="{'background-image': 'url(' + ctrl.normal.audio.artworkUrl + ')'}">
            </div>
            <div class="v2-player-normal-infobox">
              <div class="v2-player-normal-info">
                <i class="fa fa-file-audio-o
                          v2-player-normal-info-icon"></i>
                {{ctrl.normal.audio.fileName}}
              </div>
              <div class="v2-player-normal-info">
                <i class="fa fa-music
                          v2-player-normal-info-icon"></i>
                {{ctrl.normal.audio.title}}
              </div>
              <div class="v2-player-normal-info">
                <i class="fa fa-star
                          v2-player-normal-info-icon"></i>
                {{ctrl.normal.audio.artist}}
              </div>
            </div>
          </div>
          <div class="v2-player-normal-wave-container">
            <canvas nx-register="ctrl.callbacks.registerWaveCanvas"
                    class="v2-player-normal-wave">
            </canvas>
            <canvas nx-register="ctrl.callbacks.registerSliderCanvas"
                    ng-click="ctrl.waveClick ($event)"
                    class="v2-player-normal-wave">
            </canvas>
          </div>
          <div class="v2-player-normal-freq">
            <div class="v2-player-normal-freq-controls">
              <div class="v2-player-normal-freq-controls-content">
                <div class="v2-player-normal-freq-label">
                  эквалайзер:
                </div>
                <div class="v2-player-normal-freq-arrows">
                  <span ng-click='ctrl.eqDec()'
                        class="v2-player-normal-freq-button
                               v2-player-normal-freq-arrow-left">
                    <i class="fa fa-arrow-left"></i>
                  </span>
                  <span class="v2-player-normal-freq-name">
                    {{ctrl.eqName()}}
                  </span>
                  <span ng-click='ctrl.eqInc()'
                        class="v2-player-normal-freq-button
                               v2-player-normal-freq-arrow-right">
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <canvas nx-register="ctrl.callbacks.registerBarsCanvas"
                    class="v2-player-normal-freq-bars">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
