[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  height: 100vh;

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v2-player {
  font-family: 'Comfortaa', cursive;
  width: 400px;
  height: 400px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.v2-player-mode {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.v2-player-mode.ng-hide {
  pointer-events: none;
  opacity: 0;
}

.v2-player-flex {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.v2-player-open-file {
  border: 2px dashed black;
}

.v2-player-invalid {
  border: 2px solid black;
}

.v2-player-loading {
  border: 2px solid black;
}

.v2-player-normal {
  border: 2px solid black;
}

.v2-player-normal-sidebar {
  float: left;
  border-right: 2px solid black;
  width: 36px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.v2-player-normal-buttons {
  font-size: 24px;
}

.v2-player-normal-button {
  margin-top: 10px;
}

.v2-player-normal-button:hover {
  color: #bb0000;
}

.v2-player-normal-content {
  margin-left: 38px;
}

.v2-player-normal-header {
  overflow: hidden;
  margin: 10px;
  position: relative;
  height: 100px;
}

.v2-player-normal-artwork:hover {
  -webkit-filter: unset;
  filter: unset;
}

.v2-player-normal-artwork {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  right: 0;
  top: 0;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  background-image: none;
  background-size: cover;
}

.v2-player-normal-infobox {
  width: 230px;
  height: 100%;
}

.v2-player-normal-info-icon {
  display: block;
  height: 100%;
  float: left;
  margin-right: 10px;
}

.v2-player-normal-info {
  white-space: nowrap;
  margin-bottom: 10px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v2-player-normal-wave-container {
  top: 0;
  left: 0;
  margin-left: -1px;
  width: 100%;
  height: 174px;
  position: relative;
  border-top: 2px solid black;
}

.v2-player-normal-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v2-player-normal-freq {
  border-top: 2px solid black;
  width: 100%;
  height: 100px;
  position: relative;
}

.v2-player-normal-freq-controls {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  /*border-right: 2px solid black;*/
  font-size: 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.v2-player-normal-freq-arrows {
  width: 160px;
}

.v2-player-normal-freq-arrow-left {
  float: left;
}

.v2-player-normal-freq-arrow-right {
  float: right;
}

.v2-player-normal-freq-button:hover {
  color: #bb0000;
}

.v2-player-normal-freq-bars {
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
  height: 100%;
}

.v2-player-loading-content {
  font-size: 24px;
}

.v2-player-invalid-content {
  text-align: center;
}

.v2-player-invalid-button-ok {
  margin-top: 16px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 24px;
}

.v2-player-invalid-button-ok:hover {
  color: #bb0000;
  border-color: #bb0000;
}

.v2-player-open-file-content {
  text-align: center;
}

.v2-player-open-file-button {
  font-size: 24px;
}

.v2-player-open-file-input {
  display: none;
}

.v2-player-open-file-button:hover {
  color: #bb0000;
}

